body {
  width: 100%;
  color:#939393;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e9ecef;
}

/* input box */
input {
  width: 80%;
  margin: 10px 0px;
  padding: 10px 5px;
  border-radius: 5px;
  border: 0px solid;
}

/* textarea box */
textarea {
  width: 80%;
  margin: 10px 0px;
  padding: 10px 5px;
  border-radius: 5px;
  border: 0px solid;
}

/* header */
.my-header {
  height: 60px;
  /* background-image: url("./image/backgroundStrip_dark.png"); */
  background-color: #343a40;
  text-align: center;
  background-position: center;
  width: 100%;
  color: #ffffff;
  font-size: 24px;
  line-height: 60px;
  font-weight: 500;
  /* padding-left: 20%; */
}

/* navigation */
.my-navigation {
  height: 150px;
  background-attachment: fixed;
  background-color: #343a40;
  background-position: center;
  width: 100%;
}

/* navigation title */
.nav-title {
  padding-right: 20px;
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 600;
}

/* navigation item 1 */
.nav-item-1 {
  padding: 10px;
  color: #909da0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  text-decoration: none;
}

/* navigation item 2 */
.nav-item-2 {
  padding: 10px;
  color: #909da0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  text-decoration: none;
}
/* navigation item 3 */
.nav-item-3 {
  padding: 10px;
  color: #656b70;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  text-decoration: none;
}
/* active navitem id */
#active {
  color: #ffffff;
}
/* flexbox container */
.container {
  display: flex;
  flex-direction: column;
}
/* flexbox child */
.child {
  flex-basis: 100%;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.child2 {
  flex-basis: 100%;
  align-items: center;
  height: 40px;
}

/* body */
.my-body {
  background-image: url("./image/headphones_minimalism_pastel_122007_1920x1080_dark.png");
  background-position: center;
  width: 100%;
  /* height: 100%; */
  color: #090806;
  padding-bottom: 70px;
  padding-top: 40px;
}

/* footer */
.my-footer {
  height: 60px;
  position: fixed;
  bottom: 0;
  background-image: url("./image/backgroundStrip_dark.png");
  background-position: center;
  width: 100%;
}
/* footer flex item */
.footer-item {
  /* flex-basis: 33.3%; */
  align-items: center;
  /* justify-content: space-evenly; */
  flex: auto;
  /* align-items: end; */
  text-align: center;
}

.grid {
  display: grid;
  grid-template-rows: [navigation-start] 150px [navigation-stop header-start] minmax(60px, auto) [header-stop body1-start] 1fr [body1-stop footer-start] minmax(60px, auto) [footer-stop];
  /* grid-template-columns: repeat(1,1fr);  */
  grid-template-areas: 
    "navigation"
    "header"
    "profile-pic"
    "content"
    "footer";
  align-items: center;
  justify-items: center;
  grid-auto-flow: column;
  place-content: stretch;
  height: 100%;
}


.all-col {
  grid-column: 1/-1;
  align-items: center;
}

.img-thumbnail {
  width: 100%;
  /* height: 400px; */
  transform: rotate(90deg);
}

/* portfolio body */
.portfolio-pic {
  flex-direction: column;
  /* height: 30vh; */
  width: 70%;
}

/* name id */
#from {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
}
/* input name */
#name {
  font-weight: 700;
}
/* email id */
#reply {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
}
/* input email */
#email {
  font-weight: 700;
}
/* message id */
#message {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
}
/* input message */
textarea {
  font-weight: 700;
}
/* button style id */
button {
  background: #cbebe8;
  background-image: -moz-linear-gradient(top,#cbebe8,#f1a49e);
  background-image: -webkit-linear-gradient(top,#cbebe8,#f1a49e);
  background-image: -o-linear-gradient(top,#cbebe8,#f1a49e);
  background-image: -ms-linear-gradient(top,#cbebe8,#f1a49e);
  background-image: linear-gradient(top,#cbebe8,#f1a49e);
  /* width: 20%; */
  height: 1.5em;
  justify-content: baseline;
  text-decoration: none;
  border: none;
  color: #656b70;
}
button:hover {
  background-image: -moz-linear-gradient(top,#f1a49e, #cbebe8);
  background-image: -webkit-linear-gradient(top,#f1a49e, #cbebe8);
  background-image: -o-linear-gradient(top,#f1a49e, #cbebe8);
  background-image: -ms-linear-gradient(top,#f1a49e, #cbebe8);
  background-image: linear-gradient(top,#f1a49e, #cbebe8);
  
}

/* for screen size >600px */
@media (min-width: 600px) {
  .grid {
  display: grid;
  grid-template-rows: [navigation-start] 60px [navigation-stop header-start] 60px [header-stop body-start] 1fr [body-stop footer-start] 60px [footer-stop];
  grid-template-columns: repeat(3,1fr); 
  grid-template-areas: 
    "header header header"
    "navigation navigation navigation"
    "profile-pic . content"
    "footer-1 footer-1 footer-3";
  align-items: center;
  justify-items: center;
  grid-auto-flow: column;
  place-content: stretch;
  height: 100vh;
  }

/* navigation */
  .my-navigation {
    height: 100%;
  }
/* flexbox child */
  .child, .child2 {
    flex-basis: 33.3%;
    align-items: center;
  }
  /* flexbox container */
  .container {
    display: flex;
    flex-direction: row;
  }
  /* header */
  .my-header {
    height: 100%;
    background-image: url("./image/backgroundStrip_dark.png");
    background-size: auto;
    text-align: left;
    background-repeat: no-repeat;
    /* padding-left: 20%; */
    /* height: 2em; */
  }
  /* body */
  .my-body {
    height: 100%;
    color:#939393;
    padding: 0px 0px;
  }
}